:root{
    --my-red: rgb(255, 109, 109);
}

body{
    background-color: rgb(6, 7, 6);
    margin: 0px;
   padding: 0px;
}
main{
    margin-top: 75spx;
}
.bg-dark{
    background-color:rgba(6, 7, 6, 1) !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(253, 75, 75, 0.801);
}
.nav-link:hover{
    color: var(--my-red) !important;
}
#welcome-section{
    width:100%;
    height: 100vh;
    text-align: center;
    font-family: "Permanent Marker", "cursive";
    padding: 35vh 0;
    color: rgb(255,255,255);
    background: rgb(75,75,75);
    background: linear-gradient(0deg, rgba(75,75,75,1) 0%, rgba(6,7,6,1) 92%);
    /* background-color: rgb(65, 63, 63);
    background: linear-gradient(62deg, #292a2c 0%, #0f0e0f 100%); */
}
#welcome-section>h1{
    font-size: 4vw;
}
.red-paragraph{
    color: rgba(253, 66, 66, 0.931);
    font-size:2vw;
    font-weight: bold;
    font-family: "Poppins", "sans-serif";
}
#skills-section{
    width:100%;
    min-height: 100vh;
    background-color: rgb(197, 196, 196);
    text-align: center;
    padding-top: 7vh;
}
#skills{
    text-align: center;
    color: rgba(255, 29, 29, 0.801);
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Cabin Sketch", "cursive";
}
#skills>h2{
    padding: 5px;
    font-size: 3vw !important;
}
#skills-container{
    
    margin:9vh auto; 
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10vh 0;
}

#contact-me{
    color: rgb(255,255,255);
    text-align: center;
    padding-top: 5vh;
    font-size: 3vw;
    font-family: "Poppins","sans-serif";
}

#social-handles-container{
    width: 40vw;
    margin: 4vh auto;
    padding-top: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
#madeby{
    font-family: monospace;
    color: rgb(255,255,255);
    text-align: center;
    width: 100%;
    margin-top: 5vh;
}
#heart-img{
    transform: scale(0.4);
}
.social-links:hover{
    transition: transform 1s;
    transform: translate(0,-7px);
}
@media(max-width: 800px){
    
    #welcome-section>h1{
        font-size: 9vw;
    }
    .red-paragraph{
        font-size: 6vw;
    }
    #skills>h2{
        
        font-size: 9vw !important;
    }
    .skill-img{
        transform: scale(0.6);
    }

    /* Express image is causing some problem in mobile devices .. so hiding it in mobile devices. */
    #express{
        display: none;
    }

    #skills-container{
    
        margin:9vh auto; 
        width: 60vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8vh 0;
    }
    #contact-me{
        font-size: 5vw;
    }
    .social-links{
        transform: scale(0.7);
    }
    #social-handles-container{
        padding-top: 4vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3vh 0;
    }
}